<hr>
<div class="form-group row">
    <label class="col-sm-4 col-form-label">
        Smart Card Image
    </label>
    <div class="col-sm-4">
       <input  type="file" class="form-control" accept="image/*">
    </div>
    <div class="col-sm-4">
       <a [href]="" target="_blank">
        <img [src]="" alt="" style="height: 100px;width: 100px;float: right;" onError="this.src='assets/icon.png'">
       </a>	 
    </div>
</div>
<hr>
<div class="form-group row">
    <label class="col-sm-4 col-form-label">
        Pollution Image
    </label>
    <div class="col-sm-4">
       <input  type="file" class="form-control" accept="image/*">
    </div>
    <div class="col-sm-4">
       <a [href]="" target="_blank">
        <img [src]="" alt="" style="height: 100px;width: 100px;float: right;" onError="this.src='assets/icon.png'">
       </a>	 
    </div>
</div>
<hr>
<div class="form-group row">
    <label class="col-sm-4 col-form-label">
        Insurance Image
    </label>
    <div class="col-sm-4">
       <input  type="file" class="form-control" accept="image/*">
    </div>
    <div class="col-sm-4">
       <a [href]="" target="_blank">
        <img [src]="" alt="" style="height: 100px;width: 100px;float: right;" onError="this.src='assets/icon.png'">
       </a>	 
    </div>
</div>
<hr>
<div class="form-group row">
    <label class="col-sm-4 col-form-label">
        Tax Token Image
    </label>
    <div class="col-sm-4">
       <input  type="file" class="form-control" accept="image/*">
    </div>
    <div class="col-sm-4">
       <a [href]="" target="_blank">
        <img [src]="" alt="" style="height: 100px;width: 100px;float: right;" onError="this.src='assets/icon.png'">
       </a>	 
    </div>
</div>
<hr>
<div class="form-group row">
    <label class="col-sm-4 col-form-label">
        Permit Image
    </label>
    <div class="col-sm-4">
       <input  type="file" class="form-control" accept="image/*">
    </div>
    <div class="col-sm-4">
       <a [href]="" target="_blank">
        <img [src]="" alt="" style="height: 100px;width: 100px;float: right;" onError="this.src='assets/icon.png'">
       </a>	 
    </div>
</div>
<hr>
<div class="form-group row">
    <label class="col-sm-4 col-form-label">
        Fitness Image
    </label>
    <div class="col-sm-4">
       <input  type="file" class="form-control" accept="image/*">
    </div>
    <div class="col-sm-4">
       <a [href]="" target="_blank">
        <img [src]="" alt="" style="height: 100px;width: 100px;float: right;" onError="this.src='assets/icon.png'">
       </a>	 
    </div>
</div>
<hr>
<div class="form-group row">
    <label class="col-sm-4 col-form-label">
        Invoice Image
    </label>
    <div class="col-sm-4">
       <input  type="file" class="form-control" accept="image/*">
    </div>
    <div class="col-sm-4">
       <a [href]="" target="_blank">
        <img [src]="" alt="" style="height: 100px;width: 100px;float: right;" onError="this.src='assets/icon.png'">
       </a>	 
    </div>
</div>
<hr>
<div class="form-group row">
    <label class="col-sm-4 col-form-label">
        Permit Part(A) Image
    </label>
    <div class="col-sm-4">
       <input  type="file" class="form-control" accept="image/*">
    </div>
    <div class="col-sm-4">
       <a [href]="" target="_blank">
        <img src="assets/images/upload.png" alt="" style="height: 100px;width: 100px;float: right;" onError="this.src='assets/images/upload.png'">
       </a>	 
    </div>
</div>
