<div id="root">
  <div class="container pt-5">
    <div class="row align-items-stretch">
      <div class="c-dashboardInfo col-lg-3 col-md-6" routerLink="/dashboard/home/">
        <div class="wrap">
          <img src="assets/images/register.png" alt="" style="height: 100px;width: 100px;float: center;">
          <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Master</h4>
        </div>
      </div>
      <div class="c-dashboardInfo col-lg-3 col-md-6">
        <div class="wrap">
          <img src="assets/images/operation.png" alt="" style="height: 100px;width: 100px;float: center;">
          <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Operations</h4>
        </div>
      </div>
      <div class="c-dashboardInfo col-lg-3 col-md-6">
        <div class="wrap">
          <img src="assets/images/admin.png" alt="" style="height: 100px;width: 100px;float: center;">
          <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Administration</h4>
        </div>
      </div>
      <div class="c-dashboardInfo col-lg-3 col-md-6">
        <div class="wrap">
          <img src="assets/images/accounts.png" alt="" style="height: 100px;width: 100px;float: center;">
          <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Accounts</h4>
        </div>
      </div>
    </div>
  </div>
</div>
