

<div class="az-content az-content-profile">
  <div class="mn-ht-100p">
    <div class="az-content-body az-content-body-profile">
      <div class="az-profile-body">
        
		<label class="title">All Spare Part Group Types</label> 
         <hr>
          <div class="row row-sm">
            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label">Vehicle No.</label>
                <input name="vehicleno" [(ngModel)]="overViewForm.vehicleno" type="text" class="form-control" placeholder="Vehicle No." required/>
              </div>
            </div>
            <div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Challan No.</label>
                <input name="challanno" [(ngModel)]="overViewForm.challanno" type="text" class="form-control" placeholder="Challan No."  >
              </div>
            </div>
            <div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Driver</label>
                <input name="driver" [(ngModel)]="overViewForm.driver" type="text" class="form-control" placeholder="Driver" required/>
              </div>
            </div> 
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Seize Date</label>
                <input name="seize_date" [(ngModel)]="overViewForm.seize_date" type="text" class="form-control" placeholder="Seize Date" required/>
              </div>
            </div> 
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Authority</label>
                <input name="authority" [(ngModel)]="overViewForm.authority" type="text" class="form-control" placeholder="Authority" required/>
              </div>
            </div> 
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Hearing Date</label>
                <input name="hearing_date" [(ngModel)]="overViewForm.hearing_date" type="text" class="form-control" placeholder="Remarks" required/>
              </div>
            </div> 
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Place From</label>
                <input name="place_from" [(ngModel)]="overViewForm.place_from" type="text" class="form-control" placeholder="Place From" required/>
              </div>
            </div> 
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Place To</label>
                <input name="place_to" [(ngModel)]="overViewForm.place_to" type="text" class="form-control" placeholder="Place To" required/>
              </div>
            </div> <div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Reason</label>
                <input name="reason" [(ngModel)]="overViewForm.reason" type="text" class="form-control" placeholder="Reason" required/>
              </div>
            </div> 
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Hearing Place</label>
                <input name="hearing_place" [(ngModel)]="overViewForm.hearing_place" type="text" class="form-control" placeholder="Hearing Place" required/>
              </div>
            </div> 
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Address</label>
                <input name="address" [(ngModel)]="overViewForm.address" type="text" class="form-control" placeholder="Address" required/>
              </div>
            </div> 
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">AC Name</label>
                <input name="ac_name" [(ngModel)]="overViewForm.ac_name" type="text" class="form-control" placeholder="AC Name" required/>
              </div>
            </div> 
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Receipt Date</label>
                <input name="receipt_date" [(ngModel)]="overViewForm.receipt_date" type="date" class="form-control" placeholder="Receipt Date" required/>
              </div>
            </div> 
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Extended Date</label>
                <input name="extendeddate" [(ngModel)]="overViewForm.extendeddate" type="date" class="form-control" placeholder="Extended Date" required/>
              </div>
            </div> 
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Clearance Date</label>
                <input name="clearancedate" [(ngModel)]="overViewForm.clearancedate" type="date" class="form-control" placeholder="Clearance Date" required/>
              </div>
            </div> 
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Fine</label>
                <input name="fine" [(ngModel)]="overViewForm.fine" type="text" class="form-control" placeholder="Fine" required/>
              </div>
            </div> 
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Clearance By</label>
                <input name="clearanceby" [(ngModel)]="overViewForm.clearanceby" type="text" class="form-control" placeholder="Remarks" required/>
              </div>
            </div> 
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Guarantor</label>
                <input name="guarantor" [(ngModel)]="overViewForm.guarantor" type="text" class="form-control" placeholder="Guarantor" required/>
              </div>
            </div> 
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Advocate Fee</label>
                <input name="advocatefee" [(ngModel)]="overViewForm.advocatefee" type="text" class="form-control" placeholder="Advocate Fee" required/>
              </div>
            </div> 
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Other Charges</label>
                <input name="othercharges" [(ngModel)]="overViewForm.othercharges" type="text" class="form-control" placeholder="Other Charges" required/>
              </div>
            </div> <div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Gurantee Fee</label>
                <input name="guranteefee" [(ngModel)]="overViewForm.guranteefee" type="text" class="form-control" placeholder="Gurantee Fee" required/>
              </div>
            </div> 
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Court Fee</label>
                <input name="courtfee" [(ngModel)]="overViewForm.courtfee" type="text" class="form-control" placeholder="Court Fee" required/>
              </div>
            </div> 
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Remarks</label>
                <input name="remarks" [(ngModel)]="overViewForm.remarks" type="text" class="form-control" placeholder="Remarks" required/>
              </div>
            </div> 
          </div>
          <div class="row row-sm">
            <div class="col-md-1">
              <div class="form-group">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="save()">Save</button>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="update()">Update</button>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group"> 
                <button class="btn btn-primary btn-block" (click)="delete()">Delete</button>               
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group"> 
                <button class="btn btn-primary btn-block" (click)="next()">Next</button>               
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group"> 
                <button class="btn btn-primary btn-block" (click)="previous()">Previous</button>               
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
              </div>
            </div>
          </div>  
          
          <hr>

          <div class="table-responsive">
            <table id="datatable1" class="mg-b-0 table">
              <thead>
                <tr>
                  <th class="wd-15p">Id</th>
                  <th class="wd-15p">Vehicle No.</th>
                  <th class="wd-20p">Challan No.</th>
                  <th class="wd-15p">Driver</th>
                  <th class="wd-25p">Seize Date</th>
				  <th class="wd-25p">Authority</th>
				  <th class="wd-25p">Hearing Date</th>
				  <th class="wd-25p">Place From</th>
				  <th class="wd-25p">Place To</th>
				  <th class="wd-25p">Reason</th>
				  <th class="wd-25p">Hearing Place</th>
				  <th class="wd-25p">Address</th>
				  <th class="wd-25p">AC Name</th>
				  <th class="wd-25p">Receipt Date</th>
				  <th class="wd-25p">Extended Date</th>
				  <th class="wd-25p">Fine</th>
				  <th class="wd-25p">Clearance By</th>
				  <th class="wd-25p">Clearance Date</th>
				  <th class="wd-25p">Guarantor</th>
				  <th class="wd-25p">Advocate Fee</th>
				  <th class="wd-25p">Other Charges</th>
				  <th class="wd-25p">Gurantee Fee</th>
				  <th class="wd-25p">Court Fee</th>
				  <th class="wd-25p">Remarks</th>
                </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of dummy;">
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                </tr>
                <tr
                    *ngFor="let item of dataList | paginate: {id:'pagin1', itemsPerPage: 10, currentPage: page };let i = index;">
                    <td> {{item.id}}</td>
                    <td> {{item.vehicleno}}</td>
                    <td> {{item.challanno}}</td>
                    <td> {{item.driver}}</td>
					<td> {{item.seize_date}}</td>
					<td> {{item.authority}}</td>
					<td> {{item.hearing_date}}</td>
					<td> {{item.place_from}}</td>
					<td> {{item.place_to}}</td>
					<td> {{item.reason}}</td>
					<td> {{item.hearing_place}}</td>
					<td> {{item.address}}</td>
					<td> {{item.ac_name}}</td>
					<td> {{item.receipt_date}}</td>
					<td> {{item.extendeddate}}</td>
					<td> {{item.fine}}</td>
					<td> {{item.clearanceby}}</td>
					<td> {{item.clearancedate}}</td>
					<td> {{item.guarantor}}</td>
					<td> {{item.advocatefee}}</td>
					<td> {{item.othercharges}}</td>
					<td> {{item.guranteefee}}</td>
					<td> {{item.courtfee}}</td>
					<td> {{item.remarks}}</td>
					
                    <td><button type="button" (click)="openItem(item)" class="btn btn-primary btn-block">Details</button>
                    </td>
                </tr>
            </tbody>
          </table>





      </div><!-- az-profile-body -->
    </div><!-- az-content-body -->
  </div><!-- container -->
</div><!-- az-content -->

