<div class="az-navbar az-navbar-two az-navbar-dashboard-eight">
  <div class="container">
    <div><a routerLink="index.html" class="az-logo">az<span>i</span>a</a></div>
    <div class="az-navbar-search">
      <input type="search" class="form-control" placeholder="Search for schedules and events...">
      <button class="btn"><i class="fas fa-search "></i></button>
    </div><!-- az-navbar-search -->
    <ul class="nav">
      <li class="nav-label">Main Menu</li>

      <li class="nav-item " [ngClass]="{'active': step === 'step1'}" clickOutside (clickOutside)="hide(show1)" #show1 (click)="showDropdown(show1,'step1')" >
        <a routerLink="/dashboard/home/" class="nav-link with-sub"><i class="typcn typcn-clipboard"></i>Dashboard</a>
        <!--<nav class="nav-sub">
          <a routerLink="dashboard-one.html" class="nav-sub-link">Web Analytics</a>
          <a routerLink="dashboard-two.html" class="nav-sub-link">Sales Monitoring</a>
          <a routerLink="dashboard-three.html" class="nav-sub-link">Ad Campaign</a>
          <a routerLink="dashboard-four.html" class="nav-sub-link">Event Management</a>
          <a routerLink="dashboard-five.html" class="nav-sub-link">Helpdesk Management</a>
          <a routerLink="dashboard-six.html" class="nav-sub-link">Finance Monitoring</a>
          <a routerLink="dashboard-seven.html" class="nav-sub-link">Cryptocurrency</a>
          <a routerLink="dashboard-eight.html" class="nav-sub-link active">Executive / SaaS</a>
          <a routerLink="dashboard-nine.html" class="nav-sub-link">Campaign Monitoring</a>
          <a routerLink="dashboard-ten.html" class="nav-sub-link">Product Management</a>
        </nav>-->
      </li><!-- nav-item -->

      <li class="nav-item" [ngClass]="{'active': step === 'step2'}"   clickOutside (clickOutside)="hide(show2)" #show2 (click)="showDropdown(show2,'step2')">
        <a class="nav-link with-sub"><i class="typcn typcn-document"></i>Masters</a>
        <nav class="nav-sub">
          <a routerLink="/dashboard/home//master/vehicles-all" class="nav-sub-link">Vehicles</a>
          <a routerLink="/dashboard/home//master/customer-all" class="nav-sub-link">Customer</a>
          <a routerLink="/dashboard/home//master/supplier-all" class="nav-sub-link">Supplier</a>
          <a routerLink="/dashboard/home//master/broker-all" class="nav-sub-link">Broker</a>
          <a class="nav-sub-link">Driver</a>
          <a  class="nav-sub-link">Trips</a>
          <a  class="nav-sub-link">Maintainence</a>
          <a  class="nav-sub-link">Lorry Challan</a>
          <a  class="nav-sub-link">Bill</a>
        </nav>
      </li><!-- nav-item -->
      <li class="nav-item" [ngClass]="{'active': step === 'step3'}"  clickOutside (clickOutside)="hide(show3)" #show3 (click)="showDropdown(show3,'step3')">
        <a  class="nav-link with-sub"><i class="typcn typcn-book"></i>Reports</a>
        <nav class="nav-sub">
          <a  class="nav-sub-link">Vehicles</a>
          <a  class="nav-sub-link">brokers</a>
          <a class="nav-sub-link">Suppliers</a>
          <a  class="nav-sub-link">Brokers</a>
          <a class="nav-sub-link">Drivers</a>
          <a class="nav-sub-link">Trips</a>
          <a class="nav-sub-link">Vehicle Maintainence</a>
          <a  class="nav-sub-link">Lorry Challan</a>
          <a  class="nav-sub-link">Bill</a>
        </nav>
      </li><!-- nav-item -->
      <li class="nav-item" [ngClass]="{'active': step === 'step4'}"  clickOutside (clickOutside)="hide(show4)" #show4 (click)="showDropdown(show4,'step4')">
        <a  class="nav-link with-sub"><i class="typcn typcn-edit"></i>Accounts</a>
        <nav class="nav-sub">
          <a  class="nav-sub-link">Cash Register</a>
          <a  class="nav-sub-link">Journal</a>
          <a  class="nav-sub-link">Ledger</a>
          <a  class="nav-sub-link">Profit & Loss</a>
          <a  class="nav-sub-link">Balance Sheet</a>
          <a class="nav-sub-link">Trial Balance</a>
          <a class="nav-sub-link">GST </a>
        </nav>
      </li><!-- nav-item -->
      <li class="nav-item" [ngClass]="{'active': step === 'step5'}"  clickOutside (clickOutside)="hide(show5)" #show5 (click)="showDropdown(show5,'step5')">
        <a  class="nav-link with-sub"><i class="typcn typcn-chart-bar-outline"></i>Analysis</a>
        <nav class="nav-sub">
          <a  class="nav-sub-link">Vehicle Maintainence</a>
          <a  class="nav-sub-link">Trips</a>
          <a  class="nav-sub-link">brokers</a>
          <a class="nav-sub-link">Suppliers</a>
          <a  class="nav-sub-link">Brokers</a>
        </nav>
      </li><!-- nav-item -->
      <li class="nav-item" [ngClass]="{'active': step === 'step6'}"  clickOutside (clickOutside)="hide(show6)" #show6 (click)="showDropdown(show6,'step6')">
        <a class="nav-link with-sub"><i class="typcn typcn-map"></i>Finance</a>
        <nav class="nav-sub">
          <a  class="nav-sub-link">Money Receipt</a>
          <a  class="nav-sub-link">Cheque</a>
          <a  class="nav-sub-link">Expenses</a>
          <a  class="nav-sub-link">Incomes</a>
          <a  class="nav-sub-link">Accounts</a>
          <a  class="nav-sub-link">Credit History</a>
          <a  class="nav-sub-link">Total Credit</a>
          <a  class="nav-sub-link">Vendor Payment</a>
          <a  class="nav-sub-link">Vendor Due</a>
        </nav>
      </li><!-- nav-item -->
      <li class="nav-item" [ngClass]="{'active': step === 'step7'}"  clickOutside (clickOutside)="hide(show7)" #show7 (click)="showDropdown(show7,'step7')">
        <a  class="nav-link with-sub"><i class="typcn typcn-tabs-outline"></i>Settings</a>
        <nav class="nav-sub">
          <a  class="nav-sub-link">Account Settings</a>
          <a class="nav-sub-link">User Settings</a>
          <a  class="nav-sub-link">Application Settings</a>
        </nav>
      </li><!-- nav-item -->
    </ul><!-- nav -->
  </div><!-- container -->
</div>
