<!--<div class="az-profile-view-chart">
  <canvas id="chartArea"></canvas>
  <div class="az-profile-view-info">
    <div class="d-flex align-items-baseline">
      <h6>508</h6>
      <span>-1.2% since last week</span>
    </div>
    <p>Profile viewers past 10 days</p>
  </div>
</div>-->





<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Select Vehicle Type Code </h4>
    <button type="button" class="close" aria-label="Close" 
    >
       <span aria-hidden="true">&times;</span>
    </button>
 </div>
 <div class="modal-body">
    <div class="form-group row">
       <div class="col-sm-12">
          <label>Select Vehicle Type Code</label>
          <input style="background: transparent !important;" [(ngModel)]="vehicletypeString"
             (ngModelChange)="searchVehicletype($event)" type="text" class="form-control" placeholder="Select Vehicle Type Code">
       </div>
    </div>
    <div class="form-group row">
       <div class="col-sm-12">
          <div *ngFor="let item of vehicletypeList" (click)="overViewForm.vehicle_type = item.code"
             style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;margin-bottom: 5px; border-bottom: 1px solid lightgray; padding-bottom: 5px;">
             <p style="margin: 0px;"> {{item.code}}</p>
             <i class="ti-check-box" *ngIf="item.code === overViewForm.vehicle_type"></i>
          </div>
       </div>
    </div>
 </div>
 <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="closeVehicletype()">Save </button>
 </div>
</div>


<div class="col-md-12">
  <div class="row row-sm">
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Vehicle No</label>
        <input name="vehicleno" [(ngModel)]="overViewForm.vehicleno" type="text" class="form-control" placeholder="Vehicle No" required/>
      </div>
    </div>
    <div class="col-md-4 mg-t-20 mg-md-t-0">
      <div class="form-group">
        <label class="form-label">Make</label>
        <input name="make" [(ngModel)]="overViewForm.make" type="text" class="form-control" placeholder="Make"  >
      </div>
    </div>
    <div class="col-md-4 mg-t-20 mg-md-t-0">
      <div class="form-group">
        <label class="form-label">Model</label>
        <input name="model" [(ngModel)]="overViewForm.model" type="text" class="form-control" placeholder="Model" />
      </div>
    </div>
  </div>
  <div class="row row-sm">
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Engine Number</label>
        <input name="engineno" [(ngModel)]="overViewForm.engineno"  type="text" class="form-control" placeholder="Engine Number"  />
      </div>
    </div>
    <div class="col-md-4 mg-t-20 mg-md-t-0">
      <div class="form-group">
        <label class="form-label">Chasis Number</label>
        <input name="chasisno" [(ngModel)]="overViewForm.chasisno"  type="text" class="form-control" placeholder="Chasis Number"  />
      </div>
    </div>
    <div class="col-md-4 mg-t-20 mg-md-t-0">
      <div class="form-group">
        <label class="form-label">Cost Price(Rs.)</label>
        <input name="costPrice" [(ngModel)]="overViewForm.costPrice"  type="text" class="form-control" placeholder="Cost Price(Rs.)"  />
      </div>
    </div>    
    <div class="col-md-4 mg-t-20 mg-md-t-0">
      <div class="form-group">
        <label class="form-label">Blacklisted</label>
        <select class='select-option' [(ngModel)]="overViewForm.blacklisted" class="form-control" placeholder="Select" >
          <option class='option'  *ngFor='let item of yesnoList' [value]="item.name">{{item.name}}</option>
         </select>
      </div>
    </div>
  </div>
  <hr>
  <div class="row row-sm">
    <div class="col-md-4 mg-t-20 mg-md-t-0" (click)="showConfirm()">
      <div class="form-group">
        <label class="form-label">Vehicle Type</label>
        <input name="vehicle_type" [(ngModel)]="overViewForm.vehicle_type"  type="text" class="form-control" placeholder="Vehicle Type"  />
      </div>
    </div>
    <div class="col-md-4 mg-t-20 mg-md-t-0">
      <div class="form-group">
        <label class="form-label">Model</label>
        <input name="model" [(ngModel)]="vehicletype.model"  type="text" class="form-control" placeholder="Model"  />
      </div>
    </div>
    <div class="col-md-4 mg-t-20 mg-md-t-0">
      <div class="form-group">
        <label class="form-label">Detention Charge Per Day</label>
        <input name="detentionchargeperday" [(ngModel)]="vehicletype.detentionchargeperday"  type="text" class="form-control" placeholder="Detention Charge Per Day"  />
      </div>
    </div>
    <div class="col-md-4 mg-t-20 mg-md-t-0">
      <div class="form-group">
        <label class="form-label">Number Of Tyres</label>
        <input name="num_of_types" [(ngModel)]="vehicletype.num_of_types"  type="text" class="form-control" placeholder="Number Of Tyres"  />
      </div>
    </div>
    <div class="col-md-4 mg-t-20 mg-md-t-0">
      <div class="form-group">
        <label class="form-label">Bharat Stage</label>
        <input name="bharat_stage" [(ngModel)]="vehicletype.bharat_stage"  type="text" class="form-control" placeholder="Bharat Stage"  />
      </div>
    </div>
    <div class="col-md-4 mg-t-20 mg-md-t-0">
      <div class="form-group">
        <label class="form-label">Tyre Cost Per Km</label>
        <input name="tyre_cost_per_km" [(ngModel)]="vehicletype.tyre_cost_per_km"  type="text" class="form-control" placeholder="Tyre Cost Per Km"  />
      </div>
    </div>
    <div class="col-md-4 mg-t-20 mg-md-t-0">
      <div class="form-group">
        <label class="form-label">Repairing Cost Per Km</label>
        <input name="repairing_cost_per_km" [(ngModel)]="vehicletype.repairing_cost_per_km"  type="text" class="form-control" placeholder="Repairing Cost Per Km"  />
      </div>
    </div>
    <div class="col-md-4 mg-t-20 mg-md-t-0">
      <div class="form-group">
        <label class="form-label">Earning Per Day</label>
        <input name="earning_per_day" [(ngModel)]="vehicletype.earning_per_day"  type="text" class="form-control" placeholder="Earning Per Day"  />
      </div>
    </div>
    <div class="col-md-4 mg-t-20 mg-md-t-0">
      <div class="form-group">
        <label class="form-label">Loading Capacity</label>
        <input name="loading_capacity" [(ngModel)]="vehicletype.loading_capacity"  type="text" class="form-control" placeholder="Loading Capacity"  />
      </div>
    </div>

  </div>
  <hr>
  <div class="row row-sm">
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Owner Name</label>
        <!--<input name="driver" [(ngModel)]="overViewForm.driver"  type="text" class="form-control" placeholder="Driver"  />-->
        <input name="owner_name" [(ngModel)]="overViewForm.owner_name"  type="text" class="form-control" placeholder="Owner Name"  />
      </div>
    </div> 
    <div class="col-md-8">
      <div class="form-group">
        <label class="form-label">Owner Address</label>
        <!--<input name="driver" [(ngModel)]="overViewForm.driver"  type="text" class="form-control" placeholder="Driver"  />-->
        <input name="owner_address" [(ngModel)]="overViewForm.owner_address"  type="text" class="form-control" placeholder="Owner Address"  />
      </div>
    </div>  
  </div>
  <hr>
  <div class="row row-sm">
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Driver</label>
        <!--<input name="driver" [(ngModel)]="overViewForm.driver"  type="text" class="form-control" placeholder="Driver"  />-->
        <select class='select-option' [(ngModel)]="overViewForm.driver" class="form-control" placeholder="Select" >
          <option class='option'  *ngFor='let item of driverList' [value]="item.id">{{item.name}}</option>
        </select>
      </div>
    </div>   
  </div>
  <hr>
  <div class="row row-sm">
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Financer</label>
        <input name="financer" [(ngModel)]="overViewForm.financer"  type="text" class="form-control" placeholder="Financer"  />
      </div>
    </div>
    <div class="col-md-4 mg-t-20 mg-md-t-0">
      <div class="form-group">
        <label class="form-label">Loan Account Number</label>
        <input name="loanAccountNo" [(ngModel)]="overViewForm.loanAccountNo"  type="text" class="form-control" placeholder="Loan Account Number"  />
      </div>
    </div>
    <div class="col-md-4 mg-t-20 mg-md-t-0">
      <div class="form-group">
        <label class="form-label">EMI(Rs.)</label>
        <input name="emi" [(ngModel)]="overViewForm.emi"  type="text" class="form-control" placeholder="EMI(Rs.)"  />
      </div>
    </div>
    <div class="col-md-4 mg-t-20 mg-md-t-0">
      <div class="form-group">
        <label class="form-label">EMI Start Date</label>
        <input name="emiStartDate" [(ngModel)]="overViewForm.emiStartDate"  type="date" class="form-control" placeholder="EMI Start Date"  />
      </div>
    </div>
    <div class="col-md-4 mg-t-20 mg-md-t-0">
      <div class="form-group">
        <label class="form-label">EMI End Date</label>
        <input name="emiEndDate" [(ngModel)]="overViewForm.emiEndDate"  type="date" class="form-control" placeholder="EMI End Date"  />
      </div>
    </div>
    <div class="col-md-4 mg-t-20 mg-md-t-0">
      <div class="form-group">
        <label class="form-label">EMI Duration(Months)</label>
        <input name="emiDuration" [(ngModel)]="overViewForm.emiDuration"  type="text" class="form-control" placeholder="EMI Duration(Months)"  />
      </div>
    </div>
    <div class="col-md-4 mg-t-20 mg-md-t-0">
      <div class="form-group">
        <label class="form-label">Loan Amount(Rs.)</label>
        <input name="loanAmount" [(ngModel)]="overViewForm.loanAmount"  type="text" class="form-control" placeholder="Loan Amount(Rs.)"  />
      </div>
    </div>
    <div class="col-md-4 mg-t-20 mg-md-t-0">
      <div class="form-group">
        <label class="form-label">Interest Percentage(%)</label>
        <input name="interestPercentage" [(ngModel)]="overViewForm.interestPercentage"  type="text" class="form-control" placeholder="Interest Percentage(%)"  />
      </div>
    </div>
  </div>
  <hr>
  <div class="row row-sm">
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Insurance Company</label>
        <input name="insuranceCompany" [(ngModel)]="overViewForm.insuranceCompany"  type="text" class="form-control" placeholder="Insurance Company"  />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Insurance Number</label>
        <input name="insuranceNumber" [(ngModel)]="overViewForm.insuranceNumber"  type="text" class="form-control" placeholder="Insurance Number"  />
      </div>
    </div>
    <div class="col-md-4 mg-t-20 mg-md-t-0">
      <div class="form-group">
        <label class="form-label">Validity</label>
        <input name="insurancevalidupto" [(ngModel)]="overViewForm.insurancevalidupto"  type="date" class="form-control" placeholder="Validity"  />
      </div>
    </div>
  </div>
  <hr>
  <div class="row row-sm">
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Pollution Validity</label>
        <input name="pollutionvalidity" [(ngModel)]="overViewForm.pollutionvalidity"  type="date" class="form-control" placeholder="Pollution Validity"  />
      </div>
    </div>
  </div>
  <hr>
  <div class="row row-sm">
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Tax Token Number</label>
        <input name="taxtokenno" [(ngModel)]="overViewForm.taxtokenno"  type="text" class="form-control" placeholder="Tax Token Number" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Issued By RTO</label>
        <input name="issuedByRTO" [(ngModel)]="overViewForm.issuedByRTO"  type="text" class="form-control" placeholder="Issued By RTO"  />
      </div>
    </div>
    <div class="col-md-4 mg-t-20 mg-md-t-0">
      <div class="form-group">
        <label class="form-label">Validity</label>
        <input name="taxTokenValidity" [(ngModel)]="overViewForm.taxTokenValidity"  type="date" class="form-control" placeholder="Validity"  />
      </div>
    </div>
  </div>
  <hr>
  <div class="row row-sm">
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Permit Number</label>
        <input name="permitNo" [(ngModel)]="overViewForm.permitNo"  type="text" class="form-control" placeholder="Permit Number"  />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Issued By RTO</label>
        <input name="permitIssuedByRTO" [(ngModel)]="overViewForm.permitIssuedByRTO"  type="text" class="form-control" placeholder="Issued By RTO"  />
      </div>
    </div>
    <div class="col-md-4 mg-t-20 mg-md-t-0">
      <div class="form-group">
        <label class="form-label">Permit State</label>
        <!--<select name="permitState" [(ngModel)]="overViewForm.permitState"  class="form-control select2-no-search">
          <option label="India"></option>
          <option value="Orissa">Orissa</option>
        </select>-->
        <select class='select-option' [(ngModel)]="overViewForm.permitState" class="form-control" placeholder="Select" >
          <option class='option'  *ngFor='let item of statesList' [value]="item.id">{{item.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Permit Start Date</label>
        <input name="permitStartDate" [(ngModel)]="overViewForm.permitStartDate"  type="date" class="form-control" placeholder="Permit Start Date"  />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Permit End Date</label>
        <input name="permitEndDate" [(ngModel)]="overViewForm.permitEndDate"  type="date" class="form-control" placeholder="Permit Start Date"  />
      </div>
    </div>
  </div>
  <hr>
  <div class="row row-sm">
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Permit(Part A) Number</label>
        <input name="permitANo" [(ngModel)]="overViewForm.permitANo"  type="text" class="form-control" placeholder="Permit Number"  />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Issued By RTO</label>
        <input name="permitAIssuedByRTO" [(ngModel)]="overViewForm.permitAIssuedByRTO"  type="text" class="form-control" placeholder="Issued By RTO"  />
      </div>
    </div>
    <div class="col-md-4 mg-t-20 mg-md-t-0">
      <div class="form-group">
        <label class="form-label">Permit(Part A)  State</label>
        <!--<select name="permitAState" [(ngModel)]="overViewForm.permitAState"  class="form-control select2-no-search">
          <option label="India"></option>
          <option value="Orissa">Orissa</option>
        </select>-->
        <select class='select-option' [(ngModel)]="overViewForm.permitAState" class="form-control" placeholder="Select" >
          <option class='option'  *ngFor='let item of statesList' [value]="item.id">{{item.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Permit(Part A)  Start Date</label>
        <input name="permitAStartDate" [(ngModel)]="overViewForm.permitAStartDate"  type="date" class="form-control" placeholder="Permit Start Date"  />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Permit(Part A)  End Date</label>
        <input name="permitAEndDate" [(ngModel)]="overViewForm.permitAEndDate"  type="date" class="form-control" placeholder="Permit Start Date"  />
      </div>
    </div>
  </div>
  <hr>
  <div class="row row-sm">
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Fitess Issued By</label>
        <input name="fitnessIssuedBy" [(ngModel)]="overViewForm.fitnessIssuedBy"  type="text" class="form-control" placeholder="Fitess Issued By"  />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Validity</label>
        <input name="fitnessValidity" [(ngModel)]="overViewForm.fitnessValidity"  type="date" class="form-control" placeholder=""  />
      </div>
    </div>
  </div>
  <hr>
  <div class="row row-sm">
    <div class="col-md-4">
      <div class="form-group">
        <button class="btn btn-primary btn-block" (click)="submit()">Save</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <p><button type="button" (click)="changeStatus()" [className]="getClass(overViewForm.status)">{{overViewForm.status === '1' ? 'Active' :'Inactive'}}</button></p>
      </div>
    </div>
  </div>
</div>

