

<div class="az-content az-content-profile">
  <div class="mn-ht-100vx">
    <div class="az-content-body az-content-body-profile">
      <div class="az-profile-body">
        
        <label class="title">All Branch</label> 
        </div>
         <hr>
          <div class="row row-sm">
            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label">Code</label>
                <input name="code" [(ngModel)]="overViewForm.code" type="text" class="form-control" placeholder="Code" required/>
              </div>
            </div>
            <div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Type</label>
                <input name="type" [(ngModel)]="overViewForm.type" type="text" class="form-control" placeholder="Type" required/>
              </div>
            </div>
            <div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Zone</label>
                <input name="zone" [(ngModel)]="overViewForm.zone" type="text" class="form-control" placeholder="Zone" required/>
              </div>
            </div>
            <div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Manager</label>
                <input name="manager" [(ngModel)]="overViewForm.manager" type="text" class="form-control" placeholder="Manager" required/>
              </div>
            </div>
            <div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Mobile Number</label>
                <input name="mobileno" [(ngModel)]="overViewForm.mobileno" type="text" class="form-control" placeholder="Mobile no."  >
              </div>
            </div>
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Registration Branch</label>
                <input name="registration_branch" [(ngModel)]="overViewForm.registration_branch" type="text" class="form-control" placeholder="Registration Branch"  >
              </div>
            </div>
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Email Id</label>
                <input name="email" [(ngModel)]="overViewForm.email" type="text" class="form-control" placeholder="Email"  >
              </div>
            </div>
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Department</label>
                <input name="department" [(ngModel)]="overViewForm.department" type="text" class="form-control" placeholder="Department"  >
              </div>
            </div>
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Cash Limit</label>
                <input name="cash_limit" [(ngModel)]="overViewForm.cash_limit" type="text" class="form-control" placeholder="Cash limit"  >
              </div>
            </div>
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Opening Bank Limit</label>
                <input name="opening_bank_limit" [(ngModel)]="overViewForm.opening_bank_limit" type="text" class="form-control" placeholder="Opening Bank Limit"  >
              </div>
            </div>
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Closing Bank Limit</label>
                <input name="closing_bank_limit" [(ngModel)]="overViewForm.closing_bank_limit" type="text" class="form-control" placeholder="Closing Bank Limit"  >
              </div>
            </div>
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">ESI Deduct</label>
                <input name="esi_deduct" [(ngModel)]="overViewForm.esi_deduct" type="text" class="form-control" placeholder="esi_deduct"  >
              </div>
            </div>
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Salary Quit</label>
                <input name="salary_quit" [(ngModel)]="overViewForm.salary_quit" type="text" class="form-control" placeholder="Salary Quit"  >
              </div>
            </div>
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Sorting</label>
                <input name="sorting" [(ngModel)]="overViewForm.sorting" type="text" class="form-control" placeholder="Sorting"  >
              </div>
            </div>
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Show Online</label>
                <input name="show_online" [(ngModel)]="overViewForm.show_online" type="text" class="form-control" placeholder="Show Online"  >
              </div>
            </div>
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Valid AC Code</label>
                <input name="valid_ac_code" [(ngModel)]="overViewForm.valid_ac_code" type="text" class="form-control" placeholder="Valid AC Code"  >
              </div>
            </div>
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Bank  Ifsc</label>
                <input name="bank_ifsc" [(ngModel)]="overViewForm.bank_ifsc" type="text" class="form-control" placeholder="Bank Ifsc"  >
              </div>
            </div>
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">Bank Account No</label>
                <input name="bank_account_no" [(ngModel)]="overViewForm.bank_account_no" type="text" class="form-control" placeholder="Bank account no"  >
              </div>
            </div>
			<div class="col-md-4 mg-t-20 mg-md-t-0">
              <div class="form-group">
                <label class="form-label">GST Number</label>
                <input name="gst_number" [(ngModel)]="overViewForm.gst_number" type="text" class="form-control" placeholder="GST Number"  >
              </div>
            </div>
          </div>
          <div class="row row-sm">
            <div class="col-md-1">
              <div class="form-group">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="checkCode()">Save</button>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="update()">Update</button>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group"> 
                <button class="btn btn-primary btn-block" (click)="delete()">Delete</button>               
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group"> 
                <button class="btn btn-primary btn-block" (click)="next()">Next</button>               
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group"> 
                <button class="btn btn-primary btn-block" (click)="previous()">Previous</button>               
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
              </div>
            </div>
          </div>  
          
          <hr>

          <div class="table-responsive" #datatable>
            <table id="datatable1" class="mg-b-0 table" >
              <thead>
                <tr>
                  <th class="wd-15p">Id</th>
                  <th class="wd-15p">Code</th>
                  <th class="wd-20p">Type</th>
                  <th class="wd-15p">Zone</th>
                  <th class="wd-15p">Manager</th>
                  <th class="wd-10p">Mobile Number</th>
                  <th class="wd-25p">Registration Branch</th>
				  <th class="wd-25p">Email Id</th>
				  <th class="wd-25p">Department</th>
				  <th class="wd-25p">Cash Limit</th>
				  <th class="wd-25p">Opening Bank Limit</th>
				  <th class="wd-25p">Closing Bank Limit</th>
				  <th class="wd-25p">ESI Deduct</th>
				  <th class="wd-25p">Salary Quit</th>
				  <th class="wd-25p">Sorting</th>
				  <th class="wd-25p">Show Online</th>
				  <th class="wd-25p">Valid AC Code</th>
				  <th class="wd-25p">Bank  Ifsc</th>
				  <th class="wd-25p">Bank Account No</th>
				  <th class="wd-25p">GST Number</th>
                </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of dummy;">
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                </tr>
                <tr
                    *ngFor="let item of dataList | paginate: {id:'pagin1', itemsPerPage: 10, currentPage: page };let i = index;">
                    <td> {{item.id}}</td>
                    <td> {{item.code}}</td>
                    <td> {{item.type}}</td>
                    <td> {{item.zone}}</td>
                    <td> {{item.manager}}</td>
                    <td> {{item.mobileno}}</td>
					<td> {{item.registration_branch}}</td>
					<td> {{item.email}}</td>
					<td> {{item.department}}</td>
					<td> {{item.cash_limit}}</td>
					<td> {{item.opening_bank_limit}}</td>
					<td> {{item.closing_bank_limit}}</td>
					<td> {{item.esi_deduct}}</td>
					<td> {{item.salary_quit}}</td>
					<td> {{item.sorting}}</td>
					<td> {{item.show_online}}</td>
					<td> {{item.valid_ac_code}}</td>
					<td> {{item.bank_ifsc}}</td>
					<td> {{item.bank_account_no}}</td>
					<td> {{item.gst_number}}</td>
                    <td><button type="button" (click)="openItem(item)" class="btn btn-primary btn-block">Details</button>
                    </td>
                </tr>
            </tbody>
          </table>





      </div><!-- az-profile-body -->
    </div><!-- az-content-body -->
  </div><!-- container -->
</div><!-- az-content -->


