<div class="table-responsive">
  <table id="datatable1" class="mg-b-0 table">
    <thead>
      <tr>
        <th >Maintainence Id</th>
        <th >Vehicle No.</th>
        <th >Date</th>
        <th >Job</th>
        <th >Mechanic</th>
        <th >Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>001</td>
        <td>OR1258569</td>
        <td>12/04/2022</td>
        <td>Tyre Change</td>
        <td>Laxman Singh</td>
        <td><button class="btn btn-primary btn-block">Details</button></td>
      </tr>
      <tr>
        <td>001</td>
        <td>OR1258569</td>
        <td>12/04/2022</td>
        <td>Tyre Change</td>
        <td>Laxman Singh</td>
        <td><button class="btn btn-primary btn-block">Details</button></td>
      </tr>
    </tbody>
</table>


</div>
