<hr>
<div class="form-group row">
    <label class="col-sm-4 col-form-label">
        Image
    </label>
    <div class="col-sm-4">
        <input (change)="preview_image($event.target)" type="file" class="form-control">
    </div>
    <div class="col-sm-4">
        <a [href]="api.mediaURL+ image" target="_blank">
            <img [src]="api.mediaURL+ image" alt="" style="height: 100px;width: 100px;float: right;"
             onError="this.src='assets/images/upload.png'">
        </a> 
    </div>
</div>
<hr>
