
<div class="modal-content">
  {{data}}
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Select Vehicle </h4>
    <button type="button" class="close" aria-label="Close">  
    </button>
    
 </div>
 <div class="modal-body">
  <div class="form-group row">
    <div class="col-md-3"></div>
      <div class="col-md-6">    
      <div class="input-group" style="border-radius: 10px;">
        <input type="text" class="form-control _input" placeholder="Search..." (input)="search($event)">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  <hr>
  <div class="table-responsive" #datatable>
    <table id="datatable1" class="mg-b-0 table" >
      <thead>
        <tr>
          <th class="wd-10p">Vehicle No</th>
          <th class="wd-20p">Make</th>
          <th class="wd-10p">Model</th>
          <th class="wd-10p">Engine No</th>
          <th class="wd-10p">Chasis No</th>
          <th class="wd-10p">Driver</th>
          <th class="wd-10p">Owner Name</th>
          <th class="wd-10p">Blacklisted</th>
          <th class="wd-10p">Vehicle Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dummy;">
              <td>
                  <ngx-skeleton-loader count="1"
                      [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                  </ngx-skeleton-loader>
              </td>
              <td>
                  <ngx-skeleton-loader count="1"
                      [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                  </ngx-skeleton-loader>
              </td>
              <td>
                  <ngx-skeleton-loader count="1"
                      [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                  </ngx-skeleton-loader>
              </td>
              <td>
                  <ngx-skeleton-loader count="1"
                      [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                  </ngx-skeleton-loader>
              </td>
              <td>
                  <ngx-skeleton-loader count="1"
                      [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                  </ngx-skeleton-loader>
              </td>
              <td>
                  <ngx-skeleton-loader count="1"
                      [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                  </ngx-skeleton-loader>
              </td>
              <td>
                  <ngx-skeleton-loader count="1"
                      [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                  </ngx-skeleton-loader>
              </td>
          </tr>
          <tr
              *ngFor="let item of vehicleList | paginate: {id:'pagin1', itemsPerPage: 10, currentPage: page };let i = index;">
              <td> {{item.vehicleno}}</td>
              <td> {{item.make}}</td>
              <td> {{item.model}}</td>
              <td> {{item.engineno}}</td>
              <td> {{item.chasisno}}</td>
              <td> {{item.driver}}</td>
              <td> {{item.owner_name}}</td>
              <td> {{item.blacklisted}}</td>
              <td> {{item.vehicle_type}}</td>
              <td><button type="button" (click)="selectItem(item)" class="btn btn-primary btn-block">Select</button>
              </td>
          </tr>
      </tbody>
    </table>
</div>
 <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="cancel()">Cancel</button>
  </div>
</div>