<div class="table-responsive">
  <table id="datatable1" class="mg-b-0 table">
    <thead>
      <tr>
        <th >Supplier</th>
        <th >Purchase Invoice No</th>
        <th >Date</th>
        <th >Quantity</th>
        <th >Rate</th>
        <th >Amount</th>
        <th >GST</th>
        <th >Net Amount</th>
        <th >Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Supplier 1</td>
        <td>20-21/20122</td>
        <td>12/04/2021</td>
        <td>200 Pcs</td>
        <td>50</td>
        <td>10000</td>
        <td>500</td>
        <td>10500</td>
        <td><button class="btn btn-primary btn-block">Details</button></td>
      </tr>
      <tr>
        <td>Supplier 2</td>
        <td>21-22/20122</td>
        <td>02/02/2022</td>
        <td>100 Pcs</td>
        <td>80</td>
        <td>8000</td>
        <td>400</td>
        <td>8400</td>
        <td><button class="btn btn-primary btn-block">Details</button></td>
      </tr>
    </tbody>
</table>


</div>
