<div class="container" style="width: 100%;">
  <div class="left">
    <img src="http://mkroadlines.com/images/logo.png" class="animation a6"
      style="margin: 0 auto 10px;width: 250px">
    <div class="header">
      <h2 class="animation a1">sAccounts Transport ERP</h2>
      <p class="animation a2"></p>
    </div>
    <form class="form" (ngSubmit)="f.form.valid && logIn(f)" #f="ngForm">
      <input type="email" class="form-field animation a3" name="email" [(ngModel)]="loginForm.email" placeholder="Email"
        #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required>
      <div *ngIf="f.submitted && email.invalid" class="invalid ">
        <div *ngIf="email.errors?.required" class="text-start"> Email is required</div>
      </div>

      <input type="password" class="form-field animation a4" [(ngModel)]="loginForm.password" name="password"
        #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required
        placeholder="Password">
      <div *ngIf="f.submitted && password.invalid" class="invalid " >
        <div *ngIf="password.errors?.required" class="text-start"> Password is required</div>
      </div>

      <div class="animation a5" style="margin: 20px">
        <input type="checkbox" id="check" class="animation a5" name=""><label for="check"
          style="padding-left: 10px;color: #afafaf">Remember my password</label>
      </div>
      <button type="submit" class="button animation a6">LOGIN </button>
    </form>
  </div>
  <div class="d-none d-sm-block" id="right"></div>
</div>


