

<div class="az-content az-content-profile">
  <div class="mn-ht-100vx">
    <div class="az-content-body az-content-body-profile">
      <div class="az-profile-body">

        <label class="title"> Vehicle Initial Expenses</label>
        </div>
         <hr>
          <div class="row row-sm">
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Branch</label>
                <input name="branch" [(ngModel)]="overViewForm.branch" type="text" class="form-control" placeholder="Branch" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Voucher</label>
                <input name="voucher" [(ngModel)]="overViewForm.voucher" type="text" class="form-control" placeholder="Voucher" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Date</label>
                <input name="date" [(ngModel)]="overViewForm.date" type="text" class="form-control" placeholder="Date" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Vehicle Number</label>
                <input name="vehicle_no" [(ngModel)]="overViewForm.vehicle_no" type="text" class="form-control" placeholder="Vehicle Number" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">'Spare Parts'</label>
                <input name="spare_parts" [(ngModel)]="overViewForm.spare_parts" type="text" class="form-control" placeholder="Spare Parts" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Tools</label>
                <input name="tools" [(ngModel)]="overViewForm.tools" type="text" class="form-control" placeholder="Tools" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Iron Zeal</label>
                <input name="iron_zeal" [(ngModel)]="overViewForm.iron_zeal" type="text" class="form-control" placeholder="Iron Zeal" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Chassis Curry</label>
                <input name="chassis_curry" [(ngModel)]="overViewForm.chassis_curry" type="text" class="form-control" placeholder="Chassis Curry" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Drivers</label>
                <input name="drivers" [(ngModel)]="overViewForm.drivers" type="text" class="form-control" placeholder="Drivers" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Stepney</label>
                <input name="stepney" [(ngModel)]="overViewForm.stepney" type="text" class="form-control" placeholder="Stepney" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Tripaal</label>
                <input name="tripaal" [(ngModel)]="overViewForm.tripaal" type="text" class="form-control" placeholder="Tripaal" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Muhurat</label>
                <input name="muhurat" [(ngModel)]="overViewForm.muhurat" type="text" class="form-control" placeholder="Muhurat" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Other</label>
                <input name="other" [(ngModel)]="overViewForm.other" type="text" class="form-control" placeholder="Other" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Temparature Registration</label>
                <input name="temp_registration" [(ngModel)]="overViewForm.temp_registration" type="text" class="form-control" placeholder="Temparature Registration" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Payment Mode</label>
                <input name="payment_mode" [(ngModel)]="overViewForm.payment_mode" type="text" class="form-control" placeholder="Payment Mode" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Cheque Number</label>
                <input name="cheque_no" [(ngModel)]="overViewForm.cheque_no" type="text" class="form-control" placeholder="Cheque Number" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Cheque Date</label>
                <input name="cheque_date" [(ngModel)]="overViewForm.cheque_date" type="text" class="form-control" placeholder="Cheque Date" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">AC Name</label>
                <input name="ac_name" [(ngModel)]="overViewForm.ac_name" type="text" class="form-control" placeholder="AC Name" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Narration</label>
                <input name="narration" [(ngModel)]="overViewForm.narration" type="text" class="form-control" placeholder="Narration" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Remarks</label>
                <input name="remarks" [(ngModel)]="overViewForm.remarks" type="text" class="form-control" placeholder="Remarks" required/>
              </div>
            </div>
          </div>
          <div class="row row-sm">
            <div class="col-md-1">
              <div class="form-group">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="checkCode()">Save</button>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="update()">Update</button>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="delete()">Delete</button>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="next()">Next</button>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="previous()">Previous</button>
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
              </div>
            </div>
          </div>

          <hr>

          <div class="table-responsive" #datatable>
            <table id="datatable1" class="mg-b-0 table" >
              <thead>
                <tr>
                  <th class="wd-15p">Id</th>
                  <th class="wd-15p">Branch</th>
                  <th class="wd-20p">Voucher</th>
                  <th class="wd-15p">Date</th>
                  <th class="wd-15p">Vehicle Number</th>
                  <th class="wd-15p">Spare Parts</th>
                  <th class="wd-20p">Tools</th>
                  <th class="wd-15p">Iron Zeal</th>
                  <th class="wd-15p">Chassis Curry</th>
                  <th class="wd-15p">Drivers</th>
                  <th class="wd-20p">Stepney</th>
                  <th class="wd-15p">Tripaal</th>
                  <th class="wd-15p">Muhurat</th>
                  <th class="wd-20p">Other</th>
                  <th class="wd-15p">Temparature Registration</th>
                  <th class="wd-15p">Payment Mode</th>
                  <th class="wd-15p">Cheque Number</th>
                  <th class="wd-20p">Cheque Date</th>
                  <th class="wd-15p">AC Number</th>
                  <th class="wd-15p">Narration</th>
                  <th class="wd-20p">Remarks</th>
                </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of dummy;">
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                </tr>
                <tr
                    *ngFor="let item of dataList | paginate: {id:'pagin1', itemsPerPage: 10, currentPage: page };let i = index;">
                  <td>{{item.id}}</td>
                  <td>{{item.branch}}</td>
                  <td>{{item.voucher}}</td>
                  <td>{{item.date}}</td>
                  <td>{{item.vehicle_no}}</td>
                  <td>{{item.spare_parts}}</td>
                  <td>{{item.tools}}</td>
                  <td>{{item.iron_zeal}}</td>
                  <td>{{item.chassis_curry}}</td>
                  <td>{{item.drivers}}</td>
                  <td>{{item.stepney}}</td>
                  <td>{{item.tripaal}}</td>
                  <td>{{item.muhurat}}</td>
                  <td>{{item.other}}</td>
                  <td>{{item.temp_registration}}</td>
                  <td>{{item.payment_mode}}</td>
                  <td>{{item.cheque_no}}</td>
                  <td>{{item.cheque_date}}</td>
                  <td>{{item.ac_name}}</td>
                  <td>{{item.narration}}</td>
                  <td>{{item.remarks}}</td>
                   <td><button type="button" (click)="openItem(item)" class="btn btn-primary btn-block">Details</button>
                   </td>
                </tr>
            </tbody>
          </table>





      </div><!-- az-profile-body -->
    </div><!-- az-content-body -->
  </div><!-- container -->
</div><!-- az-content -->
