

<div class="az-content az-content-profile">
  <div class="mn-ht-100vx">
    <div class="az-content-body az-content-body-profile">
      <div class="az-profile-body">

        <label class="title"> Vehicle Permit</label>
        </div>
         <hr>
          <div class="row row-sm">
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Vehicle Number</label>
                <input name="vehicleno" [(ngModel)]="overViewForm.vehicleno" type="text" class="form-control" placeholder="Vehicle Number" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Branch</label>
                <input name="branch" [(ngModel)]="overViewForm.branch" type="text" class="form-control" placeholder="Branch" required/>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Voucher Number</label>
                <input name="voucherno" [(ngModel)]="overViewForm.voucherno" type="text" class="form-control" placeholder="Voucher Number" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Date</label>
                <input name="date" [(ngModel)]="overViewForm.date" type="text" class="form-control" placeholder="Date" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Start Date</label>
                <input name="start_date" [(ngModel)]="overViewForm.start_date" type="text" class="form-control" placeholder="Start Date" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">End Date</label>
                <input name="end_date" [(ngModel)]="overViewForm.end_date" type="text" class="form-control" placeholder="End Date" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Authority Name</label>
                <input name="authority_name" [(ngModel)]="overViewForm.authority_name" type="text" class="form-control" placeholder="Authority Name" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Authorised Date</label>
                <input name="authorised_date" [(ngModel)]="overViewForm.authorised_date" type="text" class="form-control" placeholder="Authorised Date" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Authorization Number</label>
                <input name="authorization_no" [(ngModel)]="overViewForm.authorization_no" type="text" class="form-control" placeholder="Authorization Number" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Payment Mode</label>
                <input name="payment_mode" [(ngModel)]="overViewForm.payment_mode" type="text" class="form-control" placeholder="Payment Mode" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Cheque Number</label>
                <input name="chequeno" [(ngModel)]="overViewForm.chequeno" type="text" class="form-control" placeholder="Cheque Number" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Cheque Date</label>
                <input name="chequedate" [(ngModel)]="overViewForm.chequedate" type="text" class="form-control" placeholder="Cheque Date" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Cheque Bank</label>
                <input name="chequebank" [(ngModel)]="overViewForm.chequebank" type="text" class="form-control" placeholder="Cheque Bank" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Receipt Number</label>
                <input name="receiptno" [(ngModel)]="overViewForm.receiptno" type="text" class="form-control" placeholder="Receipt Number" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Receipt Date</label>
                <input name="receiptdate" [(ngModel)]="overViewForm.receiptdate" type="text" class="form-control" placeholder="Receipt Date" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">AC Name</label>
                <input name="ac_name" [(ngModel)]="overViewForm.ac_name" type="text" class="form-control" placeholder="AC Name" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Permit Fee</label>
                <input name="permit_fee" [(ngModel)]="overViewForm.permit_fee" type="text" class="form-control" placeholder="Permit Fee" required/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Penalty</label>
                <input name="penalty" [(ngModel)]="overViewForm.penalty" type="text" class="form-control" placeholder="Tripaal" required/>
              </div>
            </div>
            <div class=" col-md-3    ">
              <div class="form-group">
                <div class="form-group">
                  <label class="form-label">Cgst</label>
                  <input name="cgst" [(ngModel)]="overViewForm.cgst" type="text" class="form-control" placeholder="Cgst"  >
                </div>
              </div>
            </div>
            <div class=" col-md-3    ">
              <div class="form-group">
                <div class="form-group">
                  <label class="form-label">Sgst</label>
                  <input name="sgst" [(ngModel)]="overViewForm.sgst" type="text" class="form-control" placeholder="Sgst"  >
                </div>
              </div>
            </div>
            <div class=" col-md-3    ">
              <div class="form-group">
                <div class="form-group">
                  <label class="form-label">Igst</label>
                  <input name="igst" [(ngModel)]="overViewForm.igst" type="text" class="form-control" placeholder="Igst"  >
                </div>
              </div>
            </div>
            <div class=" col-md-3    ">
              <div class="form-group">
                <div class="form-group">
                  <label class="form-label">Discount</label>
                  <input name="discount" [(ngModel)]="overViewForm.discount" type="text" class="form-control" placeholder="Discount"  >
                </div>
              </div>
            </div>
          </div>
          <div class="row row-sm">
            <div class="col-md-1">
              <div class="form-group">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="checkCode()">Save</button>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="update()">Update</button>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="delete()">Delete</button>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="next()">Next</button>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="previous()">Previous</button>
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
              </div>
            </div>
          </div>

          <hr>

          <div class="table-responsive" #datatable>
            <table id="datatable1" class="mg-b-0 table" >
              <thead>
                <tr>
                  <th class="wd-15p">Id</th>
                  <th class="wd-15p">Vehicle Number</th>
                  <th class="wd-15p">Branch</th>
                  <th class="wd-20p">Voucher Number</th>
                  <th class="wd-15p">Date</th>
                  <th class="wd-15p">Start Date</th>
                  <th class="wd-20p">End Date</th>
                  <th class="wd-15p">Authority Name</th>
                  <th class="wd-15p">Authorised Date</th>
                  <th class="wd-15p">Authorization No</th>
                  <th class="wd-15p">Payment Mode</th>
                  <th class="wd-15p">Cheque Number</th>
                  <th class="wd-20p">Cheque Date</th>
                  <th class="wd-20p">Cheque Bank</th>
                  <th class="wd-15p">Receipt Number</th>
                  <th class="wd-15p">Receipt Date</th>
                  <th class="wd-15p">AC Number</th>
                  <th class="wd-20p">Permit Fee</th>
                  <th class="wd-15p">Penalty</th>
                  <th class="wd-15p">Cgst</th>
                  <th class="wd-15p">Sgst</th>
                  <th class="wd-15p">Igst</th>
                  <th class="wd-20p">Discount</th>
                </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of dummy;">
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                </tr>
                <tr
                    *ngFor="let item of dataList | paginate: {id:'pagin1', itemsPerPage: 10, currentPage: page };let i = index;">
                  <td>{{item.id}}</td>
                  <td>{{item.vehicleno}}</td>
                  <td>{{item.branch}}</td>
                  <td>{{item.voucherno}}</td>
                  <td>{{item.date}}</td>
                  <td>{{item.start_date}}</td>
                  <td>{{item.end_date}}</td>
                  <td>{{item.authority_name}}</td>
                  <td>{{item.authorised_date}}</td>
                  <td>{{item.authorization_no}}</td>
                  <td>{{item.payment_mode}}</td>
                  <td>{{item.chequeno}}</td>
                  <td>{{item.chequedate}}</td>
                  <td>{{item.chequebank}}</td>
                  <td>{{item.receiptno}}</td>
                  <td>{{item.receiptdate}}</td>
                  <td>{{item.ac_name}}</td>
                  <td>{{item.permit_fee}}</td>
                  <td>{{item.penalty}}</td>
                  <td>{{item.cgst}}</td>
                  <td>{{item.sgst}}</td>
                  <td>{{item.igst}}</td>
                  <td>{{item.discount}}</td>
                   <td><button type="button" (click)="openItem(item)" class="btn btn-primary btn-block">Details</button>
                   </td>
                </tr>
            </tbody>
          </table>





      </div><!-- az-profile-body -->
    </div><!-- az-content-body -->
  </div><!-- container -->
</div><!-- az-content -->
