

<div class="az-content az-content-profile">
  <div class="mn-ht-100vx">
    <div class="az-content-body az-content-body-profile">
      <div class="az-profile-body">

        <label class="title">ALL Vehicle Sale</label>
        </div>
         <hr>
          <div class="row row-sm">
            <div class=" col-md-3">
              <div class="form-group">
                <label class="form-label">Vehicle Number</label>
                <input name="vehicleno" [(ngModel)]="overViewForm.vehicleno " type="text" class="form-control" placeholder="Vehicle Number" required/>
              </div>
            </div>
            <div class=" col-md-3    ">
              <div class="form-group">
                <label class="form-label">Branch</label>
                <input name="branch" [(ngModel)]="overViewForm.branch" type="text" class="form-control" placeholder="Branch" required/>
              </div>
            </div>
            <div class=" col-md-3    ">
              <div class="form-group">
                <label class="form-label">Date</label>
                <input name="date" [(ngModel)]="overViewForm.date" type="text" class="form-control" placeholder="Date"  >
              </div>
            </div>
            <div class=" col-md-3    ">
              <div class="form-group">
                <div class="form-group">
                  <label class="form-label">Voucher Number</label>
                  <input name="voucherno" [(ngModel)]="overViewForm.voucherno" type="text" class="form-control" placeholder="Voucher Number"  >
                </div>
              </div>
            </div>
            <div class=" col-md-3    ">
              <div class="form-group">
                <div class="form-group">
                  <label class="form-label">Customer</label>
                  <input name="customer" [(ngModel)]="overViewForm.customer" type="text" class="form-control" placeholder="Customer"  >
                </div>
              </div>
            </div>
            <div class=" col-md-3    ">
              <div class="form-group">
                <div class="form-group">
                  <label class="form-label">Amount</label>
                  <input name="amount" [(ngModel)]="overViewForm.amount" type="text" class="form-control" placeholder="Amount"  >
                </div>
              </div>
            </div>
            <div class=" col-md-3    ">
              <div class="form-group">
                <div class="form-group">
                  <label class="form-label">Cgst</label>
                  <input name="cgst" [(ngModel)]="overViewForm.cgst" type="text" class="form-control" placeholder="Cgst"  >
                </div>
              </div>
            </div>
            <div class=" col-md-3    ">
              <div class="form-group">
                <div class="form-group">
                  <label class="form-label">Sgst</label>
                  <input name="sgst" [(ngModel)]="overViewForm.sgst" type="text" class="form-control" placeholder="Sgst"  >
                </div>
              </div>
            </div>
            <div class=" col-md-3    ">
              <div class="form-group">
                <div class="form-group">
                  <label class="form-label">Igst</label>
                  <input name="igst" [(ngModel)]="overViewForm.igst" type="text" class="form-control" placeholder="Igst"  >
                </div>
              </div>
            </div>
            <div class=" col-md-3    ">
              <div class="form-group">
                <div class="form-group">
                  <label class="form-label">Discount</label>
                  <input name="discount" [(ngModel)]="overViewForm.discount" type="text" class="form-control" placeholder="Discount"  >
                </div>
              </div>
            </div>
            <div class=" col-md-3    ">
              <div class="form-group">
                <div class="form-group">
                  <label class="form-label">Remarks</label>
                  <input name="remarks" [(ngModel)]="overViewForm.remarks" type="text" class="form-control" placeholder="Remarks"  >
                </div>
              </div>
            </div>
          </div>
          <div class="row row-sm">
            <div class="col-md-1">
              <div class="form-group">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="checkCode()">Save</button>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="update()">Update</button>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="delete()">Delete</button>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="next()">Next</button>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="previous()">Previous</button>
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
              </div>
            </div>
          </div>

          <hr>

          <div class="table-responsive" #datatable>
            <table id="datatable1" class="mg-b-0 table" >
              <thead>
                <tr>
                  <th class="wd-15p">Id</th>
                  <th class="wd-15p">Vehicle Number</th>
                  <th class="wd-20p">Branch</th>
                  <th class="wd-15p">Date</th>
                  <th class="wd-15p">Voucher Number</th>
                  <th class="wd-25p">Customer</th>
                  <th class="wd-15p">Amount</th>
                  <th class="wd-20p">Cgst</th>
                  <th class="wd-15p">Sgst</th>
                  <th class="wd-15p">Igst</th>
                  <th class="wd-25p">Discount</th>
                  <th class="wd-25p">Remarks</th>
                </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of dummy;">
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                </tr>
                <tr
                    *ngFor="let item of dataList | paginate: {id:'pagin1', itemsPerPage: 10, currentPage: page };let i = index;">
                    <td> {{item.id}}</td>
                   <td> {{item.vehicleno}}</td>
                   <td> {{item.branch}}</td>
                   <td> {{item.date}}</td>
                   <td> {{item.voucherno}}</td>
                   <td> {{item.customer}}</td>
                   <td> {{item.amount}}</td>
                   <td> {{item.cgst}}</td>
                   <td> {{item.sgst}}</td>
                   <td> {{item.igst}}</td>
                   <td> {{item.discount}}</td>
                   <td> {{item.remarks}}</td>
                   <td><button type="button" (click)="openItem(item)" class="btn btn-primary btn-block">Details</button>
                   </td>
                </tr>
            </tbody>
          </table>





      </div><!-- az-profile-body -->
    </div><!-- az-content-body -->
  </div><!-- container -->
</div><!-- az-content -->
