<!--<div class="az-profile-view-chart">
  <canvas id="chartArea"></canvas>
  <div class="az-profile-view-info">
    <div class="d-flex align-items-baseline">
      <h6>508</h6>
      <span>-1.2% since last week</span>
    </div>
    <p>Profile viewers past 10 days</p>
  </div>
</div>-->

<div class="col-md-12">
  <div class="row row-sm">
    <div class="col-md-12">
      <div class="form-group">
        <label class="form-label">Code</label>
        <input name="code" [(ngModel)]="overViewForm.code" type="text" class="form-control" placeholder="Code" required/>
      </div>
    </div>
  </div>
  <div class="row row-sm">
    <div class="col-md-12">
      <div class="form-group">
        <label class="form-label">Description</label>
        <input name="description" [(ngModel)]="overViewForm.description"  type="text" class="form-control" placeholder="Description"  />
      </div>
    </div>
  </div>
  <hr>
  <div class="row row-sm">
    <div class="col-md-4 mg-t-20 mg-md-t-0">
      <div class="form-group">
        <label class="form-label">HSN Code</label>
        <input name="hsn" [(ngModel)]="overViewForm.hsn"  type="text" class="form-control" placeholder="HSN Code"  />
      </div>
    </div>
    <div class="col-md-4 mg-t-20 mg-md-t-0">
      <div class="form-group">
        <label class="form-label">GST(%)</label>
        <input name="gst" [(ngModel)]="overViewForm.gst"  type="text" class="form-control" placeholder="GST(%)"  />
      </div>
    </div>
  </div>
  <hr>
  <div class="row row-sm">
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Product Type</label>
        <select name="type" [(ngModel)]="overViewForm.type" class="form-control">
          <option value='Purchased Good'>Purchased Good </option>
          <option value='Sales Good'>Sales Good </option>
          <option value='Both'>Both </option>
       </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Unit Of Measurement</label>
        <select name="unit" [(ngModel)]="overViewForm.unit" class="form-control">
          <option value='Kg'>Kg </option>
          <option value='g'>g </option>
          <option value='Pcs'>Pcs </option>
          <option value='Ltr'>Ltr </option>
          <option value='Mltr'>Mltr </option>
          <option value='Km'>Km </option>
          <option value='Mtr'>Mtr </option>
          <option value='Ton'>Ton </option>
       </select>
      </div>
    </div>
   
  </div>

  
   
  <hr>
  <div class="row row-sm">
    <div class="col-md-4">
      <div class="form-group">
        <button class="btn btn-primary btn-block" (click)="submit()">Save</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <p><button type="button" (click)="changeStatus()" [className]="getClass(overViewForm.status)">{{overViewForm.status === '1' ? 'Active' :'Inactive'}}</button></p>
      </div>
    </div>
  </div>
</div>

