

<div class="az-content az-content-profile">
  <div class="mn-ht-100vx">
    <div class="az-content-body az-content-body-profile">
      <div class="az-profile-body">

        <label class="title"> Vehicle Initial Expenses</label>
        </div>
         <hr>
          <div class="row row-sm">
            <div class="col-md-2">
              <div class="form-group">
                <label class="form-label">Branch</label>
                <input name="branch" [(ngModel)]="overViewForm.branch" type="text" class="form-control" placeholder="Branch" required/>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="form-label">Voucher</label>
                <input name="voucher" [(ngModel)]="overViewForm.voucher" type="text" class="form-control" placeholder="Voucher" required/>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="form-label">Date</label>
                <input name="date" [(ngModel)]="overViewForm.date" type="text" class="form-control" placeholder="Date" required/>
              </div>
            </div>
            <div class="col-md-2">
              <!-- <div class="form-group" (click)="showVehicleModal()"> -->
              <div class="form-group" (click)="showVehicleModal()">
                <label class="form-label">Vehicle Number</label>
                <input name="vehicle_no" [(ngModel)]="overViewForm.vehicle_no" type="text" class="form-control" placeholder="Vehicle Number" required/>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="form-label">Spare Parts</label>
                <input name="spare_parts" [(ngModel)]="overViewForm.spare_parts" type="text" class="form-control" placeholder="Spare Parts" required/>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="form-label">Tools</label>
                <input name="tools" [(ngModel)]="overViewForm.tools" type="text" class="form-control" placeholder="Tools" required/>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="form-label">Iron Zeal</label>
                <input name="iron_zeal" [(ngModel)]="overViewForm.iron_zeal" type="text" class="form-control" placeholder="Iron Zeal" required/>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="form-label">Chassis Curry</label>
                <input name="chassis_curry" [(ngModel)]="overViewForm.chassis_curry" type="text" class="form-control" placeholder="Chassis Curry" required/>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="form-label">Drivers</label>
                <input name="drivers" [(ngModel)]="overViewForm.drivers" type="text" class="form-control" placeholder="Drivers" required/>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="form-label">Stepney</label>
                <input name="stepney" [(ngModel)]="overViewForm.stepney" type="text" class="form-control" placeholder="Stepney" required/>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="form-label">Tripaal</label>
                <input name="tripaal" [(ngModel)]="overViewForm.tripaal" type="text" class="form-control" placeholder="Tripaal" required/>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="form-label">Muhurat</label>
                <input name="muhurat" [(ngModel)]="overViewForm.muhurat" type="text" class="form-control" placeholder="Muhurat" required/>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="form-label">Other</label>
                <input name="other" [(ngModel)]="overViewForm.other" type="text" class="form-control" placeholder="Other" required/>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="form-label">Temparature Registration</label>
                <input name="temp_registration" [(ngModel)]="overViewForm.temp_registration" type="text" class="form-control" placeholder="Temparature Registration" required/>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="form-label">Payment Mode</label>
                <input name="payment_mode" [(ngModel)]="overViewForm.payment_mode" type="text" class="form-control" placeholder="Payment Mode" required/>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="form-label">Cheque Number</label>
                <input name="cheque_no" [(ngModel)]="overViewForm.cheque_no" type="text" class="form-control" placeholder="Cheque Number" required/>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="form-label">Cheque Date</label>
                <input name="cheque_date" [(ngModel)]="overViewForm.cheque_date" type="text" class="form-control" placeholder="Cheque Date" required/>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="form-label">AC Name</label>
                <input name="ac_name" [(ngModel)]="overViewForm.ac_name" type="text" class="form-control" placeholder="AC Name" required/>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-label">Narration</label>
                <input name="narration" [(ngModel)]="overViewForm.narration" type="text" class="form-control" placeholder="Narration" required/>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-label">Remarks</label>
                <input name="remarks" [(ngModel)]="overViewForm.remarks" type="text" class="form-control" placeholder="Remarks" required/>
              </div>
            </div>
          </div>
          <div class="row row-sm">
            <div class="col-md-1">
              <div class="form-group">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="save()">Save</button>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="update()">Update</button>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="delete()">Delete</button>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="next()">Next</button>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="previous()">Previous</button>
              </div>
            </div>
            <!-- <div class="col-md-1">
              <div class="form-group d-flex">
                <i  (click)="exportAsXLSX()" class="ml-4  far fa-file-excel" style="font-size:28px;color:rgb(3, 66, 24)"></i>
                <i  (click)="exportAsPDF()" class="ml-4  far fa-file-pdf" style="font-size:28px;color:rgb(145, 34, 17)"></i>

              </div>
            </div> -->
            <div class="col-md-1">
              <div class="form-group">
              </div>
            </div>
          </div>

          <hr>

          <!-- <div class="table-responsive" #datatable>
            <table id="datatable1" class="mg-b-0 table" >
              <thead>
                <tr>
                  <th class="wd-15p">Id</th>
                  <th class="wd-15p">Branch</th>
                  <th class="wd-20p">Voucher</th>
                  <th class="wd-15p">Date</th>
                  <th class="wd-15p">Vehicle Number</th>
                  <th class="wd-15p">Spare Parts</th>
                  <th class="wd-20p">Tools</th>
                  <th class="wd-15p">Iron Zeal</th>
                  <th class="wd-15p">Chassis Curry</th>
                  <th class="wd-15p">Drivers</th>
                  <th class="wd-20p">Stepney</th>
                  <th class="wd-15p">Tripaal</th>
                  <th class="wd-15p">Muhurat</th>
                  <th class="wd-20p">Other</th>
                  <th class="wd-15p">Temparature Registration</th>
                  <th class="wd-15p">Payment Mode</th>
                  <th class="wd-15p">Cheque Number</th>
                  <th class="wd-20p">Cheque Date</th>
                  <th class="wd-15p">AC Number</th>
                  <th class="wd-15p">Narration</th>
                  <th class="wd-20p">Remarks</th>
                </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of dummy;">
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                    <td>
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                        </ngx-skeleton-loader>
                    </td>
                </tr>
                <tr
                    *ngFor="let item of dataList | paginate: {id:'pagin1', itemsPerPage: 10, currentPage: page };let i = index;">
                  <td>{{item.id}}</td>
                  <td>{{item.branch}}</td>
                  <td>{{item.voucher}}</td>
                  <td>{{item.date}}</td>
                  <td>{{item.vehicle_no}}</td>
                  <td>{{item.spare_parts}}</td>
                  <td>{{item.tools}}</td>
                  <td>{{item.iron_zeal}}</td>
                  <td>{{item.chassis_curry}}</td>
                  <td>{{item.drivers}}</td>
                  <td>{{item.stepney}}</td>
                  <td>{{item.tripaal}}</td>
                  <td>{{item.muhurat}}</td>
                  <td>{{item.other}}</td>
                  <td>{{item.temp_registration}}</td>
                  <td>{{item.payment_mode}}</td>
                  <td>{{item.cheque_no}}</td>
                  <td>{{item.cheque_date}}</td>
                  <td>{{item.ac_name}}</td>
                  <td>{{item.narration}}</td>
                  <td>{{item.remarks}}</td>
                   <td><button type="button" (click)="openItem(item)" class="btn btn-primary btn-block">Details</button>
                   </td>
                </tr>
            </tbody>
          </table> -->

          <div class="p-3">
            <div class="example-header" style="padding-bottom:3rem;">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target)" placeholder="Search Here">
                <mat-icon matPrefix>
                </mat-icon>
              </mat-form-field>

                <div class="form-group d-flex side-icon-search">
                  <i (click)="exportAsXLSX()" class="ml-4  fa-solid fa-file-excel" style="font-size:28px;color:rgb(3, 66, 24);display:inline-block;"></i>
                  <i (click)="exportAsPDF()" class="ml-4  fa-solid fa-file-pdf" style="font-size:28px;color:rgb(145, 34, 17)"></i>
                  <!--<button class="btn btn-primary btn-block" (click)="exportAsXLSX()">Excel</button>
                  <button class="btn btn-primary btn-block" (click)="exportAsPDF()">PDF</button>-->

                </div>
            </div>


            <div class="example-container mat-elevation-z8">

              <mat-table [dataSource]="dataSource" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="branch">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Branch </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.branch}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="voucher">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Voucher </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.voucher}} </mat-cell>
                </ng-container>



                <ng-container matColumnDef="date">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.date}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="vehicle_no">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle Number </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.vehicle_no}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="spare_parts">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Spare Parts </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.spare_parts}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="tools">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Tools </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.tools}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="iron_zeal">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Iron Zeal </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.iron_zeal}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="chassis_curry">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Chassis Curry </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.chassis_curry}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="drivers">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Drivers </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.drivers}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="stepney">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Stepney </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.stepney}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="tripaal">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Tripaal </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.tripaal}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="muhurat">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Muhurat </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.muhurat}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="other">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Other </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.other}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="temp_registration">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Temparature Registration </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.temp_registration}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="payment_mode">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Payment Mode </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.payment_mode}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="cheque_no">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Cheque Number </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.cheque_no}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="cheque_date">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Cheque date </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.cheque_date}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="ac_name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> AC Name </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.ac_name}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="narration">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Narration </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.narration}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="remarks">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.remarks}} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> ACTION </mat-header-cell>
                  <mat-cell *matCellDef="let row" >
                    <button type="button" (click)="openItem(row)" class="btn btn-primary btn-block">Details</button>
                  </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
              </mat-table>

              <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
            </div>
          </div>




      </div><!-- az-profile-body -->
    </div><!-- az-content-body -->
  </div><!-- container -->
<!-- </div><!-- az-content --> -->
